@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins&display=swap');

* {
  box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #EBECF0;
}